version: 2
updates:
    - package-ecosystem: "npm"
      directory: "/"
      schedule:
          interval: "monthly"
      versioning-strategy: increase-if-necessary
      labels:
          - "type: dependencies"
      groups:
          patch-and-minor-rollup:
              update-types:
                  - "patch"
                  - "minor"

    - package-ecosystem: "github-actions"
      directory: "/"
      schedule:
          interval: "monthly"
      labels:
          - "type: ci/cd"
